        /* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

        /* GLOBAL */
*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

        /* ELEMENTS */
body {
    background-image: url('../assets/nils-schirmer-V0_gHwsrCg4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    color: slategray;
}

#artist {
    background-color: red;
}

#releaseTitle {
    background-color: green;
}

#thumbImg {
    background-color: blue;
}

#releaseLink {
    background-color: indigo;
}

header {
    text-align: center;
    font-family: 'Oi', cursive;
    background-color:darkslateblue;
    ;
}

#appTitle {
    background-color: violet;
}