        /* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Cherry+Cream+Soda&family=Fontdiner+Swanky&family=Limelight&family=Montserrat+Subrayada:wght@400;700&family=Slackey&family=Spicy+Rice&display=swap');
        
                /* FONT FAMILY RULES */
            /* font-family: 'Barrio', cursive; */
            /* font-family: 'Cherry Cream Soda', cursive; */
            /* font-family: 'Fontdiner Swanky', cursive; */
            /* font-family: 'Limelight', cursive; */
            /* font-family: 'Montserrat Subrayada', sans-serif; */
            /* font-family: 'Slackey', cursive; */
            /* font-family: 'Spicy Rice', cursive; */
               
        /* GLOBAL */
:root{
    --primary-background-color: #282828;
    --secondary-background-color: #2D283E;
    --primary-purple: #0C0032;
    --secondary-purple: #1A0061;
    --tertiary-purple: #230090;
    --quaternary-purple: #3500D4;
    --quinary-purple: #812BB2;
    --app-name-color: #149F98;
    --dark-text-color: #564F70;
    --light-text-color: #D0D7E1;
    --grey-poupon: #4C495C;
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100vw;
}
        
        /* ELEMENTS */
body {
    background-color: var(--primary-background-color);
    color: var(--light-text-color);
    font-family: 'Fontdiner Swanky', cursive;
    margin: 0;
}

#artist, #releaseLink, #releaseTitle, #thumbImg {
    background-color: var(--tertiary-purple);
    color: var(--dark-text-color);
}
        
header {
    font-family: 'Fontdiner Swanky', cursive;
    background-color: var(--secondary-purple);
    text-shadow: 1px 0 10px #597874;
    /* border-radius: 25%; */
    margin-top: 0;
}

#artist, 
#releaseLink, 
#releaseTitle, 
#thumbImg,
header p {
    text-align: center;
}
        
#appTitle {
    border-radius: 45% 20% 25% 35%;
    text-align: center;
    background-color: var(--primary-purple);
    color: var(--app-name-color);
    font-size: 65px;
    text-shadow: 1px 0px 10px #4D4D00;
    margin-top: 0%;
}
        
footer {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    margin-bottom: 0;
    height: 25px;
    width: 100%;
    background-color: var(--secondary-purple);
}
        
/* #userInputBox {
    justify-content: flex-end;
} */  /* Not sure this is needed*/
        
.rightSidebar,
.leftSidebar {
    background-color: var(--secondary-purple);
    text-shadow: 1px 0 10px #597874;
    font-family: 'Spicy Rice', cursive;
    color: var(--app-name-color);
}

footer {
    color: var(--dark-text-color);
}

.rightSidebar {
    width: 12%;
    order: 3;
    height: 100%;
    margin-top: 0;
}
        
.leftSidebar {
    width: 12%;
    order: 1;
    height: 100%;
    margin-top: 0;
}
        
.userSrchInpt {
    display: flex;
    justify-content: center;
    align-items: center;
}
        
#getBandBtn {
    background-color: var(--quaternary-purple); 
    color: var(--light-text-color);
}

#getBandBtn:hover {
    background-color: var(--app-name-color);
    color: var(--secondary-background-color);
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.content {
    display: flex;
    flex: 1;
}

.columns{
    display: flex;
    flex:1;
}        

.main{
    flex: 1;
    order: 2;
}